.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
  line-height:normal;
}
._默认样式 {
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
.flow_shape {
}
.image {
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
.link_button {
  color:#169BD5;
}
._一级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._分类按纽 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
._形状 {
}
._水平线 {
}
._形状1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:right;
  line-height:normal;
}
._鼠标按下文本链接时 {
}
.line {
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.radio_button {
  text-align:left;
}
._流程形状 {
  color:#333333;
}
.html_button {
  text-align:center;
}
._连接线 {
  color:#333333;
}
.sticky_2 {
  text-align:left;
}
.snapshot {
}
.icon {
}
._默认样式1 {
}
.box_1 {
}
.shape {
}
._形状2 {
}
.shape1 {
}
.image1 {
  color:#000000;
}
.label1 {
  font-size:14px;
  text-align:left;
}
._形状3 {
  font-size:13px;
  color:#000000;
}
._文本段落1 {
  font-size:13px;
  color:#000000;
  text-align:left;
}
